.App {
  text-align: center;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(65, 62, 62);
  color: white;
}

.nav-links{
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.shop{
  text-align: center;
  align-items: center;
  display:grid;
}


.products{
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  align-items: center;
  align-content: center;
}

.products img {
  width: 20%;
}